{% extends 'home.html' %}
<html>
<head>
<title>Delete Page </title>
</head>

<body>
{% block content %}
<style>
.container{
    width: 60%;
}
#msg{
    background-color: #ff0000;
    color: darkblue;
    font-size: 2em;
    font-family: Chiller;
    text-align: center;
}

    .wide{
        margin-top: 10%;
        padding: 2%;
        background-color: #F6C562;
        border-radius: 5%;
    }
 body{
     background-color: #D6D7D0;
     font-family: 'Bookman Old Style'
 }
</style>

    <div class="container">
        <div class="row">
            <div class="wide offset-md-3 col-md-6">
                <h1 align="center">Delete Your Data</h1>
                <form method="post">{% csrf_token %}
                    {{ dform }}<br>
                    <center>
                        <input type="submit" value="Delete" class="btn btn-success">
                        <input type="reset" value="Clear" class="btn btn-danger">
                    </center>
                </form>

                <center>
                    <font id="msg">
                        {{ msg }}
                    </font>
                </center>
            </div>
        </div>
    </div>
{% endblock %}
</body>

</html>
