<html>
<head>
    <title>Curd Operations</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<style>
body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #EF8F7A;
  {#position: fixed;#}
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #C9F097;
  text-decoration:none
}

.active {
  background-color: #4CAF50;
  text-decoration:none
}
</style>

<body bgcolor="#F38542">
    <div style="font-family: 'Bookman Old Style'" >
      
        <ul>
            <li><a href="/create/"><h4>Create</h4></a></li>
            <li><a href="/retrieve/"><h4>Retrieve</h4></a></li>
            <li><a href="/update/"><h4>Update</h4></a></li>
            <li> <a href="/delete/"><h4>Delete</h4></a></li>

            <li> <a href="/index/"><font color="green" style="margin-left: 500px;"><h4>Logout</h4></font></a></li>
        </ul>
    </div>

    {% block content %}
    {% endblock %}
</body>
</html>